.product {
    color: black;
}

.shop-container {
    height: 100vh;
    margin-top: 5px;
}

.quant-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.quant-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 10px;
    
}