.cart-image {
    height: 150px;
    width: auto;
}

.cart-container {
    height: 100vh;
    width: 100vw;
    margin-top: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cart-items {
    width: 100vw;
}